# Logs
logs
*.log
npm-debug.log*

# Node modules
client/node_modules/
server/node_modules/

# Build outputs
client/dist/
server/build/

# Env files
client/.env
server/.env

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Vite cache
client/.vite/

